/* *****************************
Estilizando tabelas */

body{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

table{
    width: 600px;
    border-collapse: separate;
   /*  separate é o padrão no qual tem um espamento em cada célula, collapse é quando não uma espçamento entre as células deixando as juntas */
}

th, td{
    
    padding: 7px;
}

th{
    text-transform: uppercase; /* Deixa todas as letras maiúsculas */
    border-top: 1px solid #999;
    border-bottom: 1px solid #111;
    text-align: left;
    font-size: 90%;
    letter-spacing: 0.1em; /* Defini um espaçamento entre cada letra */
}

tr.alternado {
    background-color: #efefef;
}
.numero{
    text-align: right;
}

tr:hover{
    background-color:  #c3e6e5;
}