#caixa {
    width: 300px;
    height: 300px;
    background: url(../img/camera.png);
    float: left;

}

#caixa4 {
    width: 300px;
    height: 300px;
    float: left;
    background: radial-gradient(rgb(58, 24, 153), rgb(65, 188, 204), rgb(152, 198, 236))
}

#caixa2 {
    /* Inicia o gradient do top para baixo */
    width: 300px;
    height: 300px;
    background: linear-gradient(to top, red, green, yellow);
    float: right;
}

#caixa3 {
   /*  rotaciona o gradient em graus */
    width: 300px;
    height: 300px;
    background: linear-gradient(120deg, blue, gray, white);
    float:right;
}
#caixa h1 {
    background: rgba(255, 255, 255, 0.5);
}