.conteudo{
    width: 150px;
    height: 150px;
    background-color: blue;
    border: 1px solid gray;
    margin: 10px;
    float: right;
}
.conteudo1{
    width: 150px;
    height: 150px;
    background-color: red;
    border: 1px solid gray;
    margin: 10px;
    float: left;
}
.clear {
    clear: both;
}

#principal {
    background-color: green;
    border: red solid 5px;
}